.welcome-card {
  /*display: flex;*/
  align-items: center;
  background-color: #e8f1ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  gap: 15px;
}

/*
.user-icon {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}*/

.welcome-text h2 {
  margin: 0;
  font-size: 24px;
  color: #1a1a1a;
}

.welcome-text p {
  margin: 5px 0 0;
  color: #444;
  font-size: 15px;
}

.highlight {
  font-weight: 600;
  color: #007bff;
}